html, body{
    height: 100%;
    width: 100%;
    background-color: white;
}
body{
    font-family: "Helvetica Neue Light", "HelveticaNeue-Light", "Helvetica Neue", Helvetica, Calibri, Arial, sans-serif;
}
a{
    -webkit-transition: all 0.35s;
    -moz-transition: all 0.35s;
    transition: all 0.35s;
}
a:hover, a:focus{
    color: white;
    text-decoration: none;
}
header{
    /*Header's blank background*/
    border: 30px solid transparent;
    padding: 15px;
    margin-top: 50px;
    width: 100%;
    text-align: center;
    background-color: yellow;
    color: black;
}
header .header-content{
    position: relative;
    text-align: center;
    padding: 100px 15px 100px;
    width: 100%;
}
header .header-content .header-content-inner h1{
    font-weight: 700;
    text-transform: uppercase;
    margin-top: 0;
    margin-bottom: 0;
    font-size: 40px;
}
header .header-content .header-content-inner h3{
    font-weight: 300;
    text-transform: capitalize;
    margin-top: 0;
    margin-bottom: 0;
    font-size: 20px;
    padding: 20px;
}
header .header-content .header-content-inner hr{
    margin: 30px auto;
}
hr{
    border-color: white;
    border-width: 3px;
    max-width: 500px;
}
@media (min-width: 768px){
    header{
        min-height: 100%;
    }
    header .header-content{
        position: absolute;
        top: 50%;
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
        padding: 0 50px;
    }
    header .header-content .header-content-inner{
        max-width: 1000px;
        margin-left: auto;
        margin-right: auto;
    }
    header .header-content .header-content-inner h1{
        font-size: 50px;
    }
}
.navbar-inverse .navbar-header button,
.navbar-inverse .navbar-header a,
.navbar-inverse .navbar-collapse .navbar-right li a{
    color: white;
}
.navbar-inverse .navbar-collapse .navbar-right .dropdown .dropdown-menu li a{
    color: black;
    background-color: white;
}
.navbar-inverse .navbar-collapse .navbar-right .dropdown .dropdown-menu li a:hover{
    color: white;
    background-color: black;
}
.navbar-inverse .navbar-collapse .navbar-right .dropdown .dropdown-menu li a:focus{
    color: white;
    background-color: black;
}
marquee{
    width: 100%;
    background-color: white;
    color: black;
    font-weight: 600;
    /*font-weight: bolder;*/
    text-transform: uppercase;
}
.sert{
    float: right;
    padding: 0 15px;
    /*clear: right;*/
    /*overflow: auto;*/
}